{% extends "_layout.html" %}

{% block title %}

  Profile Page

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--  -->

<h1>Profile Page</h1>
<h2>{{current_user.username}}</h2>

<img src="{{current_user.profile_image_url}}" alt="Profile Pic" height="150" width="150">

</form>

{% endblock %} 