{% extends "_layout.html" %}

{% block title %}

  Profile Page

{% endblock %}

{% block header %}
<meta charset="utf-8">
  <script src="https://js.braintreegateway.com/web/dropin/1.18.0/js/dropin.min.js"></script>
{% endblock %}

{% block content %}

<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--  -->

<h2>{{user.username}}</h2>  

<!-- if current user = user, then show a button to edit the profile -->
{% if user == current_user %}
<form action="{{ url_for('users.edit', id = current_user.id) }}">
  <button type="submit" class="btn btn-info">Edit Profile</button>
  <!-- <input type="submit" value="Edit Profile" /> -->
</form>
{% endif %}

<img src="{{user.profile_image_url}}" alt="Profile Pic" height="150" width="150">

<!-- Follow Button -->
{% if user != current_user and current_user not in user.followers%}
  <form method="post" action="{{url_for('users.following', id = user.id)}}">
      <p class="bold">{{user.username}} <button class="btn btn-primary">Follow</button></p>
  </form>
{% endif %}
<!--  -->

<!-- UnFollow Button -->
{% if user != current_user and current_user in user.followers%}
  <form method="post" action="{{url_for('users.unfollowing', id = user.id)}}">
      <p class="bold">{{user.username}} <button class="btn btn-primary">Unfollow</button></p>
  </form>
{% endif %}


<!-- if the current user is in the followers or if the user is public, then show the following -->
{% if current_user in user.followers or user.private == False or user == current_user %}
  <!-- Show Followers -->
  <h3>Followers</h3>
  {{followers|length}}
  <br>
  {% for follower in followers %}
    {{follower.username}}
    <br>
  {% endfor %}

  <br>
  <br>
  <!-- Show Following  -->
  <h3>Following</h3>
  {{ following|length }}
  <br>
  {% for f in following %}
    {{f.username}}
    <br>
  {% endfor %}

  <br>

  <!-- show posts -->
  <h3>Posts</h3>
  {% for post in post_query %}
    {{post.image_url}}
  <img src="{{post.post_image_url}}" alt="Pic" height="293" width="293">
  {% endfor %}
{% else %}
  <br>
  <h2>Private Profile :/</h2>
{% endif %}

<!-- Braintree -->
<!-- <div id="dropin-container"></div>
<button id="submit-button">Request payment method</button>
<script>
  var button = document.querySelector('#submit-button');

  braintree.dropin.create({
    authorization: {client_token},
    container: '#dropin-container'
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod(function (err, payload) {
        // Submit payload.nonce to your server
      });
    });
  });
</script> -->

<br>

<!-- Donate button -->
<form action="{{ url_for('donations.new', id = current_user.id) }}">
  <button type="submit" class="btn btn-primary">Donate</button>
</form>


{% endblock %} 