{% extends "_layout.html" %}

{% block title %}
  Edit User
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--  -->

<h1>Edit User</h1>
<br>

<form action="{{ url_for('users.update', id = current_user.id) }}" method="POST">
    <div class="form-group">
      <label for="username">Username:</label> <input class="form-control" id="username" name="username" type="text" value="{{ user.username }}">
    </div>

 
    <div class="form-group">
        <label for="email">Email:</label> <input class="form-control" id="email" name="email" type="text" value="{{ user.email }}">
     </div>

     <div class="form-group">
        <label for="password">Current Password:</label> <input class="form-control" id="password" name="password" type="password" value="">
    </div>

    <div class="form-group">
      <label for="new_password">New Password:</label> <input class="form-control" id="new_password" name="new_password" type="password" value="">
    </div>
  
    <button type="submit" class="btn btn-primary">Update Information</button>
</form>




<!-- include the update profile picture in here -->
<br>
<h1>Change Your Profile Picture</h1>

<img src="{{current_user.profile_image_url}}" alt="Profile Pic" height="150" width="150">

<br>
<form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
<!-- enctype attribute specifies how the form-data should be encoded when submitting it to the server. -->

    <!-- <label for="user_file">Upload Your File</label>
    <br></br> -->
    <input type="file" name="user_file">
    <br></br>
    <button type="submit">Upload</button>

</form>
<!--  -->
{% endblock %} 