{% extends "_layout.html" %}

{% block title %}
  Sign In
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--  -->



<div class="row justify-content-center">
  <div class="col-md-6">
    <h1>User Login</h1>
    <br>
    <form action="{{ url_for('login') }}" method="POST" class = "form-signin">

        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" id="username" name="username" type = "text" value="" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="password">Password:</label> 
            <input class="form-control" id="password" name="password" type="password" value="" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <!-- https://developers.google.com/identity/sign-in/web/build-button -->
    <a
      class="btn btn-outline-success mt-2"
      href="{{ url_for('google_login') }}"
      ><i class="fab fa-google"></i> Login With Google</a
    >
  </div>
</div>

{% endblock %}