{% extends "_layout.html" %}

{% block title %}

  Abegram

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<!-- Flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!--  -->

<h1>Home</h1>
<br>

{% for i in user %}
<!-- entire for loop -->
<div class = "text-center">
  <!-- element inside a for loop -->
  <div class = "d-inline-block text-left border border-secondary mb-5">
      <a href="{{ url_for('users.profile_page', id = i.user.id) }}">
        <img src="{{i.user.profile_image_url}}" alt="Pic" height="50" width="50">
        {{i.user.username}}
      </a> 
      <!-- <h5><i class="fas fa-ellipsis-h"></i></h5> -->
      <!-- ... button for report inappropriate, unfollow, go to post, embed, share, copy link, cancel -->
      <br>
      {{i.image_url}}
      <img src="{{i.post_image_url}}" alt="Pic" height="600" width="600">
      <!-- like comment share bookmark -->
      <br>
      <i class="fas fa-heart"></i>
      <i class="fas fa-comment"></i>
      <i class="fas fa-upload"></i>
      
      <i class="fas fa-bookmark"></i>
      <br>
      <br>
      <p>Add a comment...</p>
    </div>
</div>
{% endfor %}


<!-- {% for user in user %}
    {{user.username}}
    {% for post in user.posts %}
        {{post.image_url}}
        <img src="{{post.post_image_url}}" alt="Profile Pic" height="150" width="150">
    {% endfor %}
<br>
{% endfor %} -->


{% endblock %} 